.theme-dark {
    --background-primary: #0d1117;
    --background-primary-rgb: 13, 17, 23;
    --background-primary-alt: #161b22;
    --background-secondary: #0d1117;
    --background-secondary-alt: #0a0c10;
    --background-modifier-border: #161b22;
    --background-modifier-form-field: rgba(0, 0, 0, 0.3);
    --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-success: #197300;
    --background-modifier-success-rgb: 25, 115, 0;
    --background-modifier-error: #3d0000;
    --background-modifier-error-rgb: 61, 0, 0;
    --background-modifier-error-hover: #470000;
    --background-modifier-cover: rgba(0, 0, 0, 0.8);
    --text-accent: #58a6ff;
    --text-accent-hover: #58a6ff;
    --text-normal: #c9d1d9;
    --text-muted: #8b949e;
    --text-muted-rgb: 139, 148, 158;
    --text-faint: #6e7681;
    --text-error: #f85149;
    --text-error-hover: #990000;
    --text-highlight-bg: #872012;
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --text-selection: #388bfd66;
    --text-on-accent: #fff;
    --interactive-normal: #2a2a2a;
    --interactive-hover: #303030;
    --interactive-accent: #58a6ff;
    --interactive-accent-rgb: 88, 166, 255;
    --interactive-accent-hover: #4d3ca6;
    --interactive-success: #197300;
    --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
    --highlight-mix-blend-mode: lighten;
    color-scheme: dark;
}

/* ----- Colors for headers ----- */
h1, h2, h3, h4, h5, h6, 
.HyperMD-header .cm-header-1, 
.HyperMD-header .cm-header-2, 
.HyperMD-header .cm-header-3, 
.HyperMD-header .cm-header-4, 
.HyperMD-header .cm-header-5, 
.HyperMD-header .cm-header-6 {
    color: #56d364 !important;
}

/* ----- Links ----- */
a:-webkit-any-link {
    text-decoration: none !important;
}
a:-webkit-any-link:hover {
    text-decoration: underline !important;
}

/* ----- Code blocks ----- */
.markdown-rendered pre {
    background-color: var(--background-primary-alt);
}
.markdown-rendered code {
    color: var(--text-normal);
    background-color: #6e768166;
    padding: 0.2em 0.4em;
    border-radius: 6px;
}
.markdown-rendered pre code {
    padding: 1em;
}
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
    color: var(--text-normal);
    background-color: #6e768166;
    padding: 0.2em 0em;
    font-size: 85%;
}
.cm-s-obsidian span.cm-inline-code {
    padding: 0.2em 0.2em;
}
.cm-s-obsidian .HyperMD-codeblock-begin, 
.cm-s-obsidian .HyperMD-codeblock-end {
    color: #bc8cff;
}

/* ----- Code blocks colors ----- */

/* Annotaions */
span.token.annotation.punctuation {
    color: #F47067;
}
/* Keywords */
.theme-dark .token.keyword, 
.theme-dark .cm-keyword, 
.theme-dark .cm-builtin {
    color: #F47067;
}
/* Class */
.theme-dark .token.class-name,
.theme-dark .token.atrule, 
.theme-dark .token.attr-value, 
.theme-dark .token.function, 
.theme-dark .token.class-name, 
.theme-dark .cm-attribute, 
.theme-dark .cm-type, 
.theme-dark .cm-def {
    color: #CAD0D7;
}
/* Method */
.theme-dark .token.function {
    color: #D2A8FF;
}
/* Variables */
.theme-dark code[class*="language-"], 
.theme-dark pre[class*="language-"],
.theme-dark .token.punctuation,
.theme-dark .token.operator, 
.theme-dark .token.entity, 
.theme-dark .token.url, 
.theme-dark .language-css .token.string, 
.theme-dark .style .token.string, 
.theme-dark .token.variable, 
.theme-dark .cm-operator, 
.theme-dark .cm-link, 
.theme-dark .cm-variable-2, 
.theme-dark .cm-variable-3 {
    color: #CAD0D7;
}
/* String */
.theme-dark .token.selector, 
.theme-dark .token.attr-name, 
.theme-dark .token.string, 
.theme-dark .token.char, 
.theme-dark .token.builtin, 
.theme-dark .token.inserted, 
.theme-dark .cm-string, 
.theme-dark .cm-string-2 {
    color: #A5D6FF;
}
/* Numbers */
.theme-dark .token.boolean, 
.theme-dark .token.number, 
.theme-dark .cm-number {
    color: #6CB6FF;
}
/* Comment */
.theme-dark .token.comment, 
.theme-dark .token.prolog, 
.theme-dark .token.doctype, 
.theme-dark .token.cdata, 
.theme-dark .cm-comment, 
.theme-dark .cm-meta, 
.theme-dark .cm-qualifier {
    color: #768390;
}

/* ----- Tags ----- */
a.tag {
    color: #58a6ff;
    background-color: #388bfd26;
    border-radius: 2em;
    padding: 0 10px;
    line-height: 22px;
    border: 1px solid rgba(240, 246, 252, 0.102);
    border-radius: 2em;
}

/* ----- Counters for backlinks & tag pane ----- */
.tree-item-flair {
    font-size: 12px;
    line-height: 18px;
    border-radius: 2em;
    padding: 0px 6px;
    background-color: #6e768166;
    color: #8b949e;
}
.tree-item-self:hover .tree-item-flair {
    background-color: #6e768166;
    color: var(--text-normal);
}

/* ----- File explorer ----- */
.nav-file-title.is-active, 
.nav-folder-title.is-active, 
body:not(.is-grabbing) .nav-file-title:hover, 
body:not(.is-grabbing) .nav-folder-title:hover,
.tree-item-self.is-clickable:hover {
    background-color: #b1bac41f;
}

/* ----- Settings ----- */
.horizontal-tab-nav-item.is-active, 
.vertical-tab-nav-item.is-active {
    background-color: #b1bac414;
}
.horizontal-tab-nav-item:hover, 
.vertical-tab-nav-item:hover {
    background-color: #b1bac41f;
}
.vertical-tab-nav-item {
    border-left: 4px solid transparent;
}
.checkbox-container {
    background-color: #010409;
    border: 1px solid #6e7681;
}
.checkbox-container.is-enabled {
    background-color: #1f6feb;
    border-color: #1f6feb;
}
.vertical-tab-header,
.horizontal-tab-nav-item, 
.vertical-tab-nav-item {
    background-color: #0d1117;
}

/* ----- Borders when translucency on ----- */
.is-translucent .status-bar {
    border-top: 1px solid var(--background-modifier-border);
}
.is-translucent .workspace-leaf-resize-handle {
    border-color: var(--background-modifier-border);
}

/* ----- Buttons primary ----- */
button.mod-cta {
    background-color: #238636;
    color: #ffffff;
    border: 1px solid #f0f6fc1a;
    border-radius: 6px;
}
button.mod-cta:hover {
    background-color: #2ea043;
    transition: .1s;
}
/* ----- Buttons ----- */
button:not(.mod-cta):not(.mod-warning),
.modal.mod-settings button:not(.mod-cta):not(.mod-warning) {
    background-color: #21262d;
    border: 1px solid #f0f6fc1a;
    border-radius: 6px;
}
button:not(.mod-cta):not(.mod-warning):hover,
.modal.mod-settings button:not(.mod-cta):not(.mod-warning):hover {
    background-color: #30363d;
    border-color: #8b949e;
    transition: .1s;
}
/* ----- Buttons warn ----- */
button.mod-warning {
    background-color: #21262d;
    border: 1px solid #f0f6fc1a;
    color: var(--text-error);
}
button.mod-warning:hover {
    background-color: #da3633;
    border: 1px solid #f85149;
    color: #ffffff;
    transition: .1s;
}

/* ----- Resize working area ----- */
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer,
.markdown-source-view.mod-cm6.is-readable-line-width:not(.is-rtl) .cm-contentContainer {
    max-width: 800px;
}
.nav-file-title, .nav-folder-title {
    font-size: 18px;
    line-height: 24px;
}

/* ----- Right sidebar - ON/OFF Checkboxes ----- */
.nav-action-button.is-active {
    background-color: #388bfd26;
    border: 1px solid #388bfd66;
    color: var(--text-normal);
}
.nav-action-button {
    border: 1px solid transparent;
}

/* ----- Left sidebar ----- */
.side-dock-ribbon-tab:hover, 
.side-dock-ribbon-action:hover {
    color: var(--text-normal);
}
.workspace-tab-header.is-active {
    color: var(--text-normal);
}

/* ----- Dropdown menu ----- */
.menu-item:not(.is-disabled):not(.is-label):not(.is-warning):hover,
.suggestion-item.is-selected {
    background-color: #1f6feb;
    color: #ffffff;
}
.menu-item:not(.is-disabled):not(.is-label):not(.is-warning):hover .menu-item-icon {
    color: #ffffff;
}
.menu-item.is-warning:hover {
    background-color: #da3633 !important;
    color: #ffffff;
}
.menu-item.is-warning:hover .menu-item-icon {
    color: #ffffff;
}
kbd {
    background-color: #21262d;
}

/* ----- Themes screen ----- */
.community-theme.is-selected {
    background-color: #21262d;
    color: var(--text-on-accent);
    border-radius: 10px;
}
.community-theme .clickable-icon:hover {
    color: var(--text-error);
}
.community-theme.is-selected button:hover {
    background-color: var(--background-secondary-alt);
    border-color: var(--background-secondary-alt);
}